/* --- Sfondo Stellato ad Alta Densità --- */
.stars-small, .stars-medium, .stars-large {
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  width: 1px; height: 1px; /* La dimensione base è 1px, la cambiamo dopo */
  background: transparent;
}

/* Stelle Piccole (più veloci e numerose) */
.stars-small {
  animation: animStar 50s linear infinite;
  box-shadow: 
    /* GENERATE CIRCA 200 STELLE PICCOLE */
    248px 1231px #FFF, 1795px 689px #FFF, 848px 43px #FFF, 1545px 1656px #FFF, 
    1396px 1290px #FFF, 1548px 1109px #FFF, 1630px 182px #FFF, 1740px 1237px #FFF, 
    1687px 597px #FFF, 1373px 1747px #FFF, 1341px 1858px #FFF, 1629px 135px #FFF, 
    1881px 19px #FFF, 627px 110px #FFF, 452px 1478px #FFF, 1888px 1342px #FFF, 
    1098px 1383px #FFF, 935px 351px #FFF, 1461px 646px #FFF, 130px 1782px #FFF, 
    1247px 1438px #FFF, 946px 118px #FFF, 133px 1928px #FFF, 1374px 197px #FFF, 
    144px 1792px #FFF, 1805px 1286px #FFF, 1756px 421px #FFF, 1591px 1863px #666666, 
    142px 799px #FFF, 878px 119px #FFF, 1312px 1735px #FFF, 65px 1229px #FFF, 
    1550px 222px #FFF, 143px 1255px #FFF, 1572px 1865px #FFF, 1852px 1711px #FFF, 
    1097px 1601px #FFF, 1391px 1447px #FFF, 107px 1017px #FFF, 1599px 1754px #FFF, 
    1612px 1568px #FFF, 1485px 1007px #FFF, 1726px 1432px #FFF, 1184px 1137px #FFF, 
    1628px 1334px #FFF, 1346px 632px #FFF, 1240px 1551px #FFF, 1024px 1902px #FFF, 
    124px 130px #FFF, 1515px 1872px #FFF, 1856px 638px #FFF, 255px 1535px #FFF, 
    1764px 338px #FFF, 1137px 695px #FFF, 29px 1058px #FFF, 1419px 728px #FFF, 
    269px 1307px #FFF, 1597px 1152px #FFF, 428px 23px #FFF, 1712px 1825px #FFF, 
    1620px 45px #FFF, 1141px 1978px #FFF, 545px 333px #FFF, 1538px 1852px #FFF,
    1749px 298px #FFF, 895px 195px #FFF, 848px 1043px #FFF, 1545px 656px #FFF, 
    1396px 290px #FFF, 1548px 109px #FFF, 1630px 1182px #FFF, 1740px 237px #FFF,
    248px 1231px #FFF, 1795px 689px #FFF, 848px 43px #FFF, 1545px 1656px #FFF, 
    1396px 1290px #FFF, 1548px 1109px #FFF, 1630px 182px #FFF, 1740px 1237px #FFF, 
    1687px 597px #FFF, 1373px 1747px #FFF, 1341px 1858px #FFF, 1629px 135px #FFF, 
    1881px 19px #FFF, 627px 110px #FFF, 452px 1478px #FFF, 1888px 1342px #FFF, 
    1098px 1383px #FFF, 935px 351px #FFF, 1461px 646px #FFF, 130px 1782px #FFF, 
    1247px 1438px #FFF, 946px 118px #FFF, 133px 1928px #FFF, 1374px 197px #FFF, 
    248px 1231px #FFF, 1795px 689px #FFF, 848px 43px #FFF, 1545px 1656px #FFF, 
    1396px 1290px #FFF, 1548px 1109px #FFF, 1630px 182px #FFF, 1740px 1237px #FFF, 
    1687px 597px #FFF, 1373px 1747px #FFF, 1341px 1858px #FFF, 1629px 135px #FFF, 
    1881px 19px #FFF, 627px 110px #FFF, 452px 1478px #FFF, 1888px 1342px #FFF, 
    1098px 1383px #FFF, 935px 351px #FFF, 1461px 646px #FFF, 130px 1782px #FFF, 
    1247px 1438px #FFF, 946px 118px #FFF, 133px 1928px #FFF, 1374px 197px #FFF, 
    144px 1792px #FFF, 1805px 1286px #FFF, 1756px 421px #FFF, 1591px 1863px #FFF, 
    142px 799px #FFF, 878px 119px #FFF, 1312px 1735px #FFF, 65px 1229px #FFF, 
    1550px 222px #FFF, 143px 1255px #FFF, 1572px 1865px #FFF, 1852px 1711px #FFF, 
    1097px 1601px #FFF, 1391px 1447px #FFF, 107px 1017px #FFF, 1599px 1754px #FFF, 
    1612px 1568px #FFF, 1485px 1007px #FFF, 1726px 1432px #FFF, 1184px 1137px #FFF, 
    1628px 1334px #FFF, 1346px 632px #FFF, 1240px 1551px #FFF, 1024px 1902px #FFF, 
    124px 130px #FFF, 1515px 1872px #FFF, 1856px 638px #FFF, 255px 1535px #FFF, 
    1764px 338px #FFF, 1137px 695px #FFF, 29px 1058px #FFF, 1419px 728px #FFF, 
    269px 1307px #FFF, 1597px 1152px #FFF, 428px 23px #FFF, 1712px 1825px #FFF, 
    1620px 45px #FFF, 1141px 1978px #FFF, 545px 333px #FFF, 1538px 1852px #FFF,
    1749px 298px #FFF, 895px 195px #FFF, 848px 1043px #FFF, 1545px 656px #FFF, 
    1396px 290px #FFF, 1548px 109px #FFF, 1630px 1182px #FFF, 1740px 237px #FFF,
    248px 1231px #FFF, 1795px 689px #FFF, 848px 43px #FFF, 1545px 1656px #FFF, 
    1396px 1290px #FFF, 1548px 1109px #FFF, 1630px 182px #FFF, 1740px 1237px #FFF, 
    1687px 597px #FFF, 1373px 1747px #FFF, 1341px 1858px #FFF, 1629px 135px #FFF, 
    1881px 19px #FFF, 627px 110px #FFF, 452px 1478px #FFF, 1888px 1342px #FFF, 
    1098px 1383px #FFF, 935px 351px #FFF, 1461px 646px #FFF, 130px 1782px #FFF, 
    1247px 1438px #FFF, 946px 118px #FFF, 133px 1928px #FFF, 1374px 197px #FFF, 
    248px 1231px #FFF, 1795px 689px #FFF, 848px 43px #FFF, 1545px 1656px #FFF, 
    1396px 1290px #FFF, 1548px 1109px #FFF, 1630px 182px #FFF, 1740px 1237px #FFF, 
    1687px 597px #FFF, 1373px 1747px #FFF, 1341px 1858px #FFF, 1629px 135px #FFF, 
    1881px 19px #FFF, 627px 110px #FFF, 452px 1478px #FFF, 1888px 1342px #FFF, 
    1098px 1383px #FFF, 935px 351px #FFF, 1461px 646px #FFF, 130px 1782px #FFF, 
    1247px 1438px #FFF, 946px 118px #FFF, 133px 1928px #FFF, 1374px 197px #FFF, 
    144px 1792px #FFF, 1805px 1286px #FFF, 1756px 421px #FFF, 1591px 1863px #FFF, 
    142px 799px #FFF, 878px 119px #FFF, 1312px 1735px #FFF, 65px 1229px #FFF, 
    1550px 222px #FFF, 143px 1255px #FFF, 1572px 1865px #FFF, 1852px 1711px #FFF, 
    1097px 1601px #FFF, 1391px 1447px #FFF, 107px 1017px #FFF, 1599px 1754px #FFF, 
    1612px 1568px #FFF, 1485px 1007px #FFF, 1726px 1432px #FFF, 1184px 1137px #FFF, 
    1628px 1334px #FFF, 1346px 632px #FFF, 1240px 1551px #FFF, 1024px 1902px #FFF, 
    124px 130px #FFF, 1515px 1872px #FFF, 1856px 638px #FFF, 255px 1535px #FFF, 
    1764px 338px #FFF, 1137px 695px #FFF, 29px 1058px #FFF, 1419px 728px #FFF, 
    269px 1307px #FFF, 1597px 1152px #FFF, 428px 23px #FFF, 1712px 1825px #FFF, 
    1620px 45px #FFF, 1141px 1978px #FFF, 545px 333px #FFF, 1538px 1852px #FFF,
    1749px 298px #FFF, 895px 195px #FFF, 848px 1043px #FFF, 1545px 656px #FFF, 
    1396px 290px #FFF, 1548px 109px #FFF, 1630px 1182px #FFF, 1740px 237px #FFF,
    248px 1231px #FFF, 1795px 689px #FFF, 848px 43px #FFF, 1545px 1656px #FFF, 
    1396px 1290px #FFF, 1548px 1109px #FFF, 1630px 182px #FFF, 1740px 1237px #FFF, 
    1687px 597px #FFF, 1373px 1747px #FFF, 1341px 1858px #FFF, 1629px 135px #FFF, 
    1881px 19px #FFF, 627px 110px #FFF, 452px 1478px #FFF, 1888px 1342px #FFF, 
    1098px 1383px #FFF, 935px 351px #FFF, 1461px 646px #FFF, 130px 1782px #FFF, 
    1247px 1438px #FFF, 946px 118px #FFF, 133px 1928px #FFF, 1374px 197px #FFF, 
    144px 1792px #FFF, 1805px 1286px #FFF, 1756px 421px #FFF, 1591px 1863px #FFF, 
    142px 799px #FFF, 878px 119px #FFF, 1312px 1735px #FFF, 65px 1229px #FFF, 
    1550px 222px #FFF, 143px 1255px #FFF, 1572px 1865px #FFF, 1852px 1711px #FFF, 
    1097px 1601px #FFF, 1391px 1447px #FFF, 107px 1017px #FFF, 1599px 1754px #FFF, 
    1612px 1568px #FFF, 1485px 1007px #FFF, 1726px 1432px #FFF, 1184px 1137px #FFF, 
    1628px 1334px #FFF, 1346px 632px #FFF, 1240px 1551px #FFF, 1024px 1902px #FFF, 
    124px 130px #FFF, 1515px 1872px #FFF, 1856px 638px #FFF, 255px 1535px #FFF, 
    1764px 338px #FFF, 1137px 695px #FFF, 29px 1058px #FFF, 1419px 728px #FFF, 
    269px 1307px #FFF, 1597px 1152px #FFF, 428px 23px #FFF, 1712px 1825px #FFF, 
    1620px 45px #FFF, 1141px 1978px #FFF, 545px 333px #FFF, 1538px 1852px #FFF,
    1749px 298px #FFF, 895px 195px #FFF, 848px 1043px #FFF, 1545px 656px #FFF, 
    1396px 290px #FFF, 1548px 109px #FFF, 1630px 1182px #FFF, 1740px 237px #FFF,
    1687px 1597px #FFF, 1373px 747px #FFF, 1341px 858px #FFF, 1629px 1135px #FFF;
}

/* Stelle Medie (velocità intermedia) */
.stars-medium {
  width: 2px; height: 2px;
  animation: animStar 70s linear infinite;
  box-shadow: 
    /* GENERATE CIRCA 70 STELLE MEDIE */
    111px 1118px #FFF, 246px 1819px #FFF, 1599px 1361px #FFF, 1385px 129px #FFF, 
    1234px 1957px #FFF, 1515px 1872px #FFF, 1856px 638px #FFF, 255px 1535px #FFF, 
    1764px 338px #FFF, 1137px 695px #FFF, 29px 1058px #FFF, 1419px 728px #FFF, 
    269px 1307px #FFF, 1597px 1152px #FFF, 428px 23px #FFF, 1712px 1825px #FFF, 
    1620px 45px #FFF, 1141px 1978px #FFF, 545px 333px #FFF, 1538px 1852px #FFF,
    621px 715px #FFF, 878px 509px #FFF, 539px 583px #FFF, 1845px 913px #FFF, 
    81px 119px #FFF, 1045px 838px #FFF, 1739px 691px #FFF, 825px 1331px #FFF, 
    1805px 500px #FFF, 715px 761px #FFF, 133px 598px #FFF, 874px 162px #FFF,                           
    269px 1307px #FFF, 1597px 1152px #FFF, 428px 23px #FFF, 1712px 1825px #FFF, 
    1620px 45px #FFF, 1141px 1978px #FFF, 545px 333px #FFF, 1538px 1852px #FFF,
    621px 715px #FFF, 878px 509px #FFF, 539px 583px #FFF, 1845px 913px #FFF, 
    81px 119px #FFF, 1045px 838px #FFF, 1739px 691px #FFF, 825px 1331px #FFF, 
    1805px 500px #FFF, 715px 761px #FFF, 133px 598px #FFF, 874px 162px #FFF, 
    111px 1118px #FFF, 246px 1819px #FFF, 1599px 1361px #FFF, 1385px 129px #FFF, 
    1234px 1957px #FFF, 1515px 1872px #FFF, 1856px 638px #FFF, 255px 1535px #FFF, 
    1764px 338px #FFF, 1137px 695px #FFF, 29px 1058px #FFF, 1419px 728px #FFF, 
    269px 1307px #FFF, 1597px 1152px #FFF, 428px 23px #FFF, 1712px 1825px #FFF, 
    1620px 45px #FFF, 1141px 1978px #FFF, 545px 333px #FFF, 1538px 1852px #FFF,
    621px 715px #FFF, 878px 509px #FFF, 539px 583px #FFF, 1845px 913px #FFF, 
    81px 119px #FFF, 1045px 838px #FFF, 1739px 691px #FFF, 825px 1331px #FFF, 
    1805px 500px #FFF, 715px 761px #FFF, 133px 598px #FFF, 874px 162px #FFF,                           
    269px 1307px #FFF, 1597px 1152px #FFF, 428px 23px #FFF, 1712px 1825px #FFF, 
    1620px 45px #FFF, 1141px 1978px #FFF, 545px 333px #FFF, 1538px 1852px #FFF,
    621px 715px #FFF, 878px 509px #FFF, 539px 583px #FFF, 1845px 913px #FFF, 
    81px 119px #FFF, 1045px 838px #FFF, 1739px 691px #FFF, 825px 1331px #FFF, 
    1805px 500px #FFF, 715px 761px #FFF, 133px 598px #FFF, 874px 162px #FFF, 
    111px 1118px #FFF, 246px 1819px #FFF, 1599px 1361px #FFF, 1385px 129px #FFF, 
    1234px 1957px #FFF, 1515px 1872px #FFF, 1856px 638px #FFF, 255px 1535px #FFF, 
    1764px 338px #FFF, 1137px 695px #FFF, 29px 1058px #FFF, 1419px 728px #FFF, 
    269px 1307px #FFF, 1597px 1152px #FFF, 428px 23px #FFF, 1712px 1825px #FFF, 
    1620px 45px #FFF, 1141px 1978px #FFF, 545px 333px #FFF, 1538px 1852px #FFF,
    621px 715px #FFF, 878px 509px #FFF, 539px 583px #FFF, 1845px 913px #FFF, 
    81px 119px #FFF, 1045px 838px #FFF, 1739px 691px #FFF, 825px 1331px #FFF, 
    1805px 500px #FFF, 715px 761px #FFF, 133px 598px #FFF, 874px 162px #FFF,                           
    269px 1307px #FFF, 1597px 1152px #FFF, 428px 23px #FFF, 1712px 1825px #FFF, 
    1620px 45px #FFF, 1141px 1978px #FFF, 545px 333px #FFF, 1538px 1852px #FFF,
    621px 715px #FFF, 878px 509px #FFF, 539px 583px #FFF, 1845px 913px #FFF, 
    81px 119px #FFF, 1045px 838px #FFF, 1739px 691px #FFF, 825px 1331px #FFF, 
    1805px 500px #FFF, 715px 761px #FFF, 133px 598px #FFF, 874px 162px #FFF, 
    1445px 1678px #FFF, 1338px 1085px #FFF, 1209px 734px #FFF, 1320px 1920px #FFF, 343px 332px #FFF;
}

/* Stelle Grandi (più lente) */
.stars-large {
  width: 3px; height: 3px;
  animation: animStar 100s linear infinite;
  box-shadow:
    /* GENERATE CIRCA 30 STELLE GRANDI */
    621px 1715px #FFF, 878px 1509px #FFF, 539px 1583px #FFF, 1845px 1913px #FFF, 
    81px 1119px #FFF, 1045px 1838px #FFF, 1739px 1691px #FFF, 825px 331px #FFF, 
    1805px 1500px #FFF, 715px 1761px #FFF, 133px 1598px #FFF, 874px 1162px #FFF, 
    1445px 678px #FFF, 1338px 85px #FFF, 1209px 1734px #FFF, 1320px 920px #FFF, 343px 1332px #FFF,
    621px 1715px #FFF, 878px 1509px #FFF, 539px 1583px #FFF, 1845px 1913px #FFF, 
    81px 1119px #FFF, 1045px 1838px #FFF, 1739px 1691px #FFF, 825px 331px #FFF, 
    1805px 1500px #FFF, 715px 1761px #FFF, 133px 1598px #FFF, 874px 1162px #FFF, 
    1445px 678px #FFF, 1338px 85px #FFF, 1209px 1734px #FFF, 1320px 920px #FFF, 343px 1332px #FFF,
    621px 1715px #FFF, 878px 1509px #FFF, 539px 1583px #FFF, 1845px 1913px #FFF, 
    81px 1119px #FFF, 1045px 1838px #FFF, 1739px 1691px #FFF, 825px 331px #FFF, 
        1445px 678px #FFF, 1338px 85px #FFF, 1209px 1734px #FFF, 1320px 920px #FFF, 343px 1332px #FFF,
    621px 1715px #FFF, 878px 1509px #FFF, 539px 1583px #FFF, 1845px 1913px #FFF, 
    81px 1119px #FFF, 1045px 1838px #FFF, 1739px 1691px #FFF, 825px 331px #FFF, 
    1805px 1500px #FFF, 715px 1761px #FFF, 133px 1598px #FFF, 874px 1162px #FFF, 
    1445px 678px #FFF, 1338px 85px #FFF, 1209px 1734px #FFF, 1320px 920px #FFF, 343px 1332px #FFF,
    621px 1715px #FFF, 878px 1509px #FFF, 539px 1583px #FFF, 1845px 1913px #FFF, 
    81px 1119px #FFF, 1045px 1838px #FFF, 1739px 1691px #FFF, 825px 331px #FFF, 
        1445px 678px #FFF, 1338px 85px #FFF, 1209px 1734px #FFF, 1320px 920px #FFF, 343px 1332px #FFF,
    621px 1715px #FFF, 878px 1509px #FFF, 539px 1583px #FFF, 1845px 1913px #FFF, 
    81px 1119px #FFF, 1045px 1838px #FFF, 1739px 1691px #FFF, 825px 331px #FFF, 
    1805px 1500px #FFF, 715px 1761px #FFF, 133px 1598px #FFF, 874px 1162px #FFF, 
    1445px 678px #FFF, 1338px 85px #FFF, 1209px 1734px #FFF, 1320px 920px #FFF, 343px 1332px #FFF,
    621px 1715px #FFF, 878px 1509px #FFF, 539px 1583px #FFF, 1845px 1913px #FFF, 
    81px 1119px #FFF, 1045px 1838px #FFF, 1739px 1691px #FFF, 825px 331px #FFF, 
      621px 1715px #FFF, 878px 1509px #FFF, 539px 1583px #FFF, 1845px 1913px #FFF, 
    81px 1119px #FFF, 1045px 1838px #FFF, 1739px 1691px #FFF, 825px 331px #FFF, 
    1805px 1500px #FFF, 715px 1761px #FFF, 133px 1598px #FFF, 874px 1162px #FFF, 
    1445px 678px #FFF, 1338px 85px #FFF, 1209px 1734px #FFF, 1320px 920px #FFF, 343px 1332px #FFF,
    621px 1715px #FFF, 878px 1509px #FFF, 539px 1583px #FFF, 1845px 1913px #FFF, 
    81px 1119px #FFF, 1045px 1838px #FFF, 1739px 1691px #FFF, 825px 331px #FFF, 
        1445px 678px #FFF, 1338px 85px #FFF, 1209px 1734px #FFF, 1320px 920px #FFF, 343px 1332px #FFF,
    621px 1715px #FFF, 878px 1509px #FFF, 539px 1583px #FFF, 1845px 1913px #FFF, 
    81px 1119px #FFF, 1045px 1838px #FFF, 1739px 1691px #FFF, 825px 331px #FFF, 
    1805px 1500px #FFF, 715px 1761px #FFF, 133px 1598px #FFF, 874px 1162px #FFF, 
    1445px 678px #FFF, 1338px 85px #FFF, 1209px 1734px #FFF, 1320px 920px #FFF, 343px 1332px #FFF,
    621px 1715px #FFF, 878px 1509px #FFF, 539px 1583px #FFF, 1845px 1913px #FFF, 
    81px 1119px #FFF, 1045px 1838px #FFF, 1739px 1691px #FFF, 825px 331px #FFF, 
        1445px 678px #FFF, 1338px 85px #FFF, 1209px 1734px #FFF, 1320px 920px #FFF, 343px 1332px #FFF,
    621px 1715px #FFF, 878px 1509px #FFF, 539px 1583px #FFF, 1845px 1913px #FFF, 
    81px 1119px #FFF, 1045px 1838px #FFF, 1739px 1691px #FFF, 825px 331px #FFF, 
    1805px 1500px #FFF, 715px 1761px #FFF, 133px 1598px #FFF, 874px 1162px #FFF, 
    1445px 678px #FFF, 1338px 85px #FFF, 1209px 1734px #FFF, 1320px 920px #FFF, 343px 1332px #FFF,
    621px 1715px #FFF, 878px 1509px #FFF, 539px 1583px #FFF, 1845px 1913px #FFF, 
    81px 1119px #FFF, 1045px 1838px #FFF, 1739px 1691px #FFF, 825px 331px #FFF, 
    1805px 1500px #FFF, 715px 1761px #FFF, 133px 1598px #FFF, 874px 1162px #FFF, 
    1445px 678px #FFF, 1338px 85px #FFF, 1209px 1734px #FFF, 1320px 920px #FFF, 343px 1332px #FFF;
}

@keyframes animStar {
  from { transform: translateY(0px); }
  to   { transform: translateY(-2000px); }
}
body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    color: #333;
    margin: 0;
    background: radial-gradient(ellipse at bottom, #1B2735 0%, #090A0F 100%);
    height: 100vh;
    overflow: hidden;
    overflow-y: auto;
}

/* --- Layout Contenitore (Invariato) --- */
.container {
    /* Sfondo semi-trasparente */
    background-color: rgba(240, 242, 245, 0.1); /* Molto trasparente */
    
    /* Effetto vetro smerigliato */
    backdrop-filter: blur(10px);
    
    /* Bordo luminoso per definire i contorni */
    border: 1px solid rgba(255, 255, 255, 0.2);
    
    border-radius: 12px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.3);
    
    /* Il resto rimane uguale */
    max-width: 800px;
    margin: 1rem auto;
    padding: 1rem 1.5rem;
    height: calc(100vh - 2rem);
    overflow-y: auto;
    position: relative;
    margin-top: 0rem;
}

/* --- Stili Intestazione e Form --- */
header {
    text-align: center;
    padding: 0rem 1rem -3rem 1rem; /* Spazio sopra e sotto */
    position: relative; /* Per z-index e per non essere coperto dalle stelle */
    z-index: 10;
    color: #f0f2f5; /* Testo chiaro per essere visibile sullo sfondo stellato */
}
header h1 {
    font-family: 'Cinzel Decorative', cursive; font-size: 1.9rem;
    color: #FFF; /* Testo bianco */
    text-shadow: 2px 2px 5px rgba(0,0,0,0.5);
    white-space: nowrap;
}

/* === MODIFICHE PER LE STELLE === */
header h2 {
    font-family: 'Josefin Sans', sans-serif; font-weight: 700; font-style: italic;
    font-size: 1.5rem; color: #ffdf7e; margin-top: -100px; letter-spacing: 2px;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.1);
    position: relative; /* Indispensabile per posizionare le stelle */
    display: inline-block; /* Per contenere correttamente le stelle */
    padding: 0 40px; /* Aggiunge spazio laterale per le stelle */
}

header h2::before,
header h2::after {
    content: '✨'; /* Il carattere da usare come stella */
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.2rem;
    text-shadow: 0 0 5px #ffc107, 0 0 10px #ffc107; /* Effetto LUMINOSO */
    animation: twinkle 2s ease-in-out infinite; /* Aggiunge animazione */
}

header h2::before {
    left: 0; /* Posiziona la stella sinistra */
}

header h2::after {
    right: 0; /* Posiziona la stella destra */
}
/* === FINE MODIFICHE PER LE STELLE === */


#bulk-form-section {
    background: transparent;
    border: none;
    box-shadow: none;
    padding: 0;
    margin-bottom: 1.5rem;
}
/* === MODIFICHE ALLA GUIDA (RIMPICCIOLITA ANCORA) === */
.instructions {
    /* Applichiamo lo sfondo stellato */
    background: #000 url(https://www.script-tutorials.com/demos/360/images/stars.png) repeat top center;
    background-size: cover;
    
    border: 2px solid #b99521; /* Bordo color oro */
    
    padding: 12px 18px;
    margin-bottom: 0.2rem;
    border-radius: 8px;
    
    /* Ombra interna per dare profondità */
    box-shadow: inset 0 0 10px rgba(0,0,0,0.5);
}

.instructions h3 {
    margin: 0 0 8px 0;
    font-size: 1rem;
    color: #ffdf7e; /* Testo color oro luminoso */
    border-bottom: 1px solid rgba(255, 223, 126, 0.3);
    padding-bottom: 8px;
}

.instructions p {
    margin: 10px 0 2px 0;
    font-size: 0.9rem;
    color: #EAEAEA; /* Testo principale chiaro */
    font-weight: bold;
}

.instructions ul, .instructions ol {
    margin: 5px 0 0 0;
    padding-left: 20px;
    font-size: 0.85rem;
    color: #ccc; /* Testo secondario grigio chiaro */
}

.instructions li {
    margin-bottom: 5px;
}

.instructions code {
    background-color: rgba(0, 0, 0, 0.4); /* Sfondo scuro per il codice */
    color: #ffdf7e; /* Testo del codice color oro */
    padding: 2px 5px;
    border-radius: 4px;
    border: 1px solid rgba(255, 223, 126, 0.2); /* Bordo sottile per il codice */
}
/* === FINE MODIFICHE ALLA GUIDA === */

textarea {
    width: calc(100% - 24px); /* Calcolo corretto per il padding */
    padding: 12px;
    margin-bottom: 10px;
    
    /* Applichiamo lo sfondo stellato */
    background: #000 url(https://www.script-tutorials.com/demos/360/images/stars.png) repeat top center;
    background-size: cover;
    
    color: white; /* Testo bianco */
    
    border: 2px solid #b99521; /* Bordo color oro */
    border-radius: 8px;
    
    font-size: 0.9rem;
    font-family: monospace;
    resize: vertical;
    
    /* Ombra interna per dare profondità */
    box-shadow: inset 0 0 10px rgba(0,0,0,0.5);
    
    transition: all 0.2s ease-in-out;
}

textarea::placeholder {
    color: rgba(255, 255, 255, 0.5); /* Placeholder bianco semi-trasparente */
    font-style: italic;
}

textarea:focus {
    outline: none;
    border-color: #ffdf7e; /* Bordo più luminoso quando attiva */
    box-shadow: inset 0 0 15px rgba(0,0,0,0.5), 0 0 0 3px rgba(255, 193, 7, 0.25); /* Ombra interna + aura esterna */
}
button { padding: 12px 25px; background-color: #ffc107; color: #1c1e21; border: none; border-radius: 5px; cursor: pointer; font-size: 1rem; font-weight: bold; text-transform: uppercase; letter-spacing: 1px; transition: all 0.2s ease-in-out; }
button:hover { background-color: #ffca2c; box-shadow: 0 3px 12px rgba(255, 193, 7, 0.35); transform: translateY(-1px); }
.message { text-align: center; padding: 8px; margin-top: 8px; border-radius: 5px; display: none; }
.message.success { background-color: #d4edda; color: #155724; display: block; }
.message.error { background-color: #f8d7da; color: #721c24; display: block; }

/* === Layout a 2 Colonne === */
#dictionary-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.8rem;
}
.section-letter {
    font-size: 1.8rem;
    margin-top: -1rem;
    padding-top: 1.5rem; /* Assicurati che sia padding, non margin */
    
    color: white; /* << MODIFICA CHIAVE */
    
    border-bottom: 2px solid rgba(255, 223, 126, 0.5);
    padding-bottom: 0.3rem;
    grid-column: 1 / -1;
    scroll-margin-top: 80px;
}
.vocabolo {
    background-color: #f5f1e8; /* << Colore crema/avorio molto chiaro */
    
    border: 1px solid rgba(185, 149, 33, 0.4); /* << Bordo dorato semi-trasparente */
    
    border-radius: 6px; /* Bordi leggermente più morbidi */
    
    /* Ombra interna per un effetto "inciso" + ombra esterna per "sollevare" */
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.1), 0 2px 4px rgba(0,0,0,0.05);
    
    /* Il padding e il margine rimangono come li preferisci */
    padding: 0.6rem 0.8rem;
    margin-top: 0; /* Gestito dal gap della griglia */
    
    transition: all 0.2s ease-in-out; /* Aggiunge una transizione fluida */
}

/* Aggiungiamo un piccolo effetto al passaggio del mouse */
.vocabolo:hover {
    transform: translateY(-2px);
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.1), 0 5px 15px rgba(0,0,0,0.1);
    border-color: rgba(185, 149, 33, 0.7);
}

/* Stile per il footer del form (pulsante + firma) */
.form-footer {
    display: flex;
    justify-content: space-between; /* Spinge gli elementi ai lati opposti */
    align-items: center; /* Allinea verticalmente al centro */
    margin-top: 10px;
}

.form-footer button {
    width: auto; /* Il pulsante non occupa più tutta la larghezza */
    padding: 12px 25px; /* Padding orizzontale maggiore */
    flex-grow: 1; /* Fa espandere il pulsante per occupare lo spazio disponibile */
    background: #000 url(https://www.script-tutorials.com/demos/360/images/stars.png);
    margin-right: 15px; /* Spazio tra pulsante e firma */
    color: white;
}

.signature {
    font-size: 0.8rem;
    font-style: italic;
    
    /* === MODIFICA CHIAVE QUI === */
    color: white; /* << Un grigio scuro, quasi nero, ma più morbido */
    
    white-space: nowrap;
    margin: 0;
    opacity: 0.9; /* Quasi completamente opaco per massima leggibilità */
}

/* --- STILE PER LA BARRA DI RICERCA STICKY --- */
#search-bar-container {
    position: sticky;
    top: 0;
    z-index: 100;
    padding: 10px 0;
    /* Rimuoviamo lo sfondo da qui per renderlo trasparente */
    background-color: transparent; 
    text-align: center;
    margin-bottom: 1rem;
    border-bottom: none; /* Rimuoviamo anche il bordo */
    backdrop-filter: none; /* E il blur */
}
#search-bar {
    width: 90%;
    max-width: 750px;
    padding: 10px 20px; /* Più padding per un look migliore */
    
    /* Applichiamo lo sfondo stellato */
    background: #000 url(https://www.script-tutorials.com/demos/360/images/stars.png) repeat top center;
    background-size: cover; /* Adatta l'immagine per coprire l'area */
    
    color: white; /* Testo bianco per contrasto */
    
    border: 1px solid #b99521; /* Bordo color oro */
    border-radius: 25px; /* Bordi più arrotondati */
    font-size: 1rem;
    
    /* Ombre per dare profondità */
    box-shadow: inset 0 0 10px rgba(0,0,0,0.5), 0 5px 15px rgba(0,0,0,0.3);
    
    transition: all 0.2s ease-in-out;
}
#search-bar::placeholder {
    color: rgba(255, 255, 255, 0.6); /* Placeholder bianco semi-trasparente */
    font-style: italic;
}

#search-bar:focus {
    outline: none;
    border-color: #ffdf7e; /* Bordo più luminoso quando attiva */
    box-shadow: inset 0 0 15px rgba(0,0,0,0.5), 0 5px 20px rgba(0,0,0,0.4), 0 0 0 3px rgba(255, 193, 7, 0.25); /* Aggiunge anche un'aura esterna */
}


/* === STILI PER L'INDICE DELLE LETTERE === */
#alphabet-index {
    position: fixed;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    
    /* === MODIFICHE CHIAVE QUI === */
    background-color: rgba(30, 30, 30, 0.7); /* Sfondo scuro semi-trasparente */
    backdrop-filter: blur(8px); /* Effetto vetro smerigliato */
    border: 1px solid rgba(255, 255, 255, 0.1); /* Bordo sottile chiaro */
    /* ============================ */
    
    border-radius: 10px;
    padding: 8px 5px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3); /* Ombra più pronunciata */
    display: flex;
    flex-direction: column;
    gap: 5px;
    z-index: 1000;
}

#alphabet-index a:active {
    background-color: #ffc107; /* Oro più scuro quando cliccato */
    color: black;
}

#alphabet-index a.disabled { 
    color: #666; /* Manteniamo il grigio per le lettere disabilitate */
    pointer-events: none; 
}

#alphabet-index a {
    text-decoration: none;
    color: white; /* << LETTERE BIANCHE */
    font-weight: bold;
    font-size: 0.8rem;
    padding: 2px 6px;
    border-radius: 4px;
    transition: all 0.2s;
}

#alphabet-index a:hover {
    background-color: #ffdf7e; /* Oro più chiaro al passaggio del mouse */
    color: black; /* << TESTO NERO */
}

/* === NUOVA: ANIMAZIONE PER LE STELLE === */
@keyframes twinkle {
    0%, 100% {
        opacity: 1;
        transform: translateY(-50%) scale(1);
    }
    50% {
        opacity: 0.7;
        transform: translateY(-50%) scale(0.9);
    }
}
/* ======================================================= */
/* === REGOLE SPECIFICHE PER SMARTPHONE (max-width: 768px) === */
/* ======================================================= */
@media (max-width: 768px) {

    /* 1. Layout generale */
    body { overflow-y: auto; }
    .container {
        background-color: transparent; /* << SFONDO TRASPARENTE */
        margin: 0; padding: 0.5rem;
        border-radius: 0; height: auto; box-shadow: none;
        /* Aggiungiamo un padding in fondo al container stesso */
        padding-bottom: 100px; /* << ZONA DI SICUREZZA DI 100 PIXEL */
    }

header {
        margin-top: 20px; /* Aggiunge spazio sopra i titoli */
    }

    /* 3. MODIFICHE AL TITOLO */
    header h1 {
        font-size: 1.7rem;   /* << AUMENTATO LEGGERMENTE */
        white-space: normal; 
        line-height: 1.3;
        /* Trucco per mandare "AND" a capo:
           Riduciamo la larghezza massima del titolo a poco meno dello schermo,
           forzando il wrap in un punto prevedibile.
        */
        max-width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
    header h2 { font-size: 1.15rem; }
    /* NUOVA REGOLA: Aggiunge spazio a destra per evitare sovrapposizione con l'indice */
        #bulk-form-section {
            padding-right: 45px; 
            margin-bottom: -10rem;
        }
    /* 4. Indice e Layout a UNA COLONNA (come prima) */
    #alphabet-index { /* ... */ }
    #dictionary-section {
        display: block; /* Layout a una colonna */
    }
    .vocabolo {
        margin-top: 0.5rem;
    }
    
    /* 3. Layout a Griglia (invariato) */
    #dictionary-section {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 0.5rem;
        padding-right: 40px;
    }
    .section-letter {
        grid-column: 1 / -1;
        font-size: 1.7rem;
        margin-top: 1.5rem;
    }
    .vocabolo {
        margin-top: 0;
        padding: 0.6rem 0.8rem;
    }
    .vocabolo .main-line { font-size: 0.9rem; }
    .vocabolo .details { font-size: 0.75rem; }
    
    /* 4. Pulsante Normale (non più fisso) */
    /* Non servono regole specifiche qui, eredita quelle desktop */
    /* Stile per il footer del form (pulsante + firma) */
.form-footer {
    display: flex;
    justify-content: space-between; /* Spinge gli elementi ai lati opposti */
    align-items: center; /* Allinea verticalmente al centro */
    margin-top: 10px;
        background: transparent; 

}

.form-footer button {
    width: auto; /* Il pulsante non occupa più tutta la larghezza */
    padding: 12px 25px; /* Padding orizzontale maggiore */
    flex-grow: 1; /* Fa espandere il pulsante per occupare lo spazio disponibile */
    margin-right: 15px; /* Spazio tra pulsante e firma */
}

.signature {
    font-size: 0.8rem;
    color: #888;
    white-space: nowrap; /* Impedisce alla firma di andare a capo */
    margin: 0; /* Rimuove i margini di default del paragrafo */
}
}

/* --- STILE PER IL POP-UP (FINESTRA MODALE) --- */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2000;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.modal-overlay.visible {
    opacity: 1;
    visibility: visible;
}

.modal-content {
    background-color: #fff;
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.3);
    width: 90%;
    max-width: 400px;
    text-align: center;
    transform: scale(0.9);
    transition: transform 0.3s ease;
}

.modal-overlay.visible .modal-content {
    transform: scale(1);
}

.modal-content h3 { margin-top: 0; font-size: 1.5rem; }
.modal-content p { color: #666; margin-bottom: 1.5rem; }

.modal-content input[type="password"] {
    width: calc(100% - 24px);
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 1rem;
    margin-bottom: 1.5rem;
}

.modal-actions { display: flex; gap: 1rem; }
.modal-actions button { flex: 1; }

#modal-cancel-button { background-color: #6c757d; }
#modal-cancel-button:hover { background-color: #5a6268; }

#modal-confirm-button { background-color: #ffc107; }
#modal-confirm-button:hover { background-color: #ffca2c; }